<section id="alquila">
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Alquila</h2>
              <hr class="light">
              <p class="text-muted2">
                Entendemos las necesidades de grupos y eventos al aire libre, ofreciendo experiencia, atención personalizada y opciones adaptadas para que el alquiler, montaje y uso de Xutopot sea fácil y gratificante para educadores y promotores.</p>
                             
                
                
                <a href="../pagina.html" class="btn btn-default btn-xl wow tada">Más información y ofertas</a>

          </div>
      </div>
  </aside>
</section>
