
  <section id="escribana" class="que-es-section" style="background-color: #d6f5d8">
    <div class="container">
      <div class="row">
         <!-- Columna de imagen -->
        <div class="col image-content">
          <img src="img\escribana.jpg" alt="Imagen de Xutopot" class="responsive-image">
        </div>
        <!-- Columna de texto -->
        <div class="col text-content" >
          <h2>¡Descubre Xutopot en Torre Escribana!</h2><hr>
          <p style="text-align: left">
            Una experiencia exclusiva para grupos scouts y clubes de tiempo libre en el que presentaremos el protototipo acabado.<br><br>

            📅 Elige tu fecha y acompáñanos en una visita especial a <strong>Torre Escribana</strong> en Montañana, la solución sostenible e innovadora para tus actividades al aire libre.<br>
            
            🎁 Beneficio exclusivo: Por asistir, obtendrás un <strong>5% de descuento</strong> adicional en tu primer pedido, válido para este verano.<br><br>
            
            🌟 Qué te espera:<br>
            
            - Presentación del producto.<br>
            - Visita corta a las instalaciones.<br>
            - Resolución de dudas y consejos para tus campamentos.<br><br>
            🚀 ¡No te quedes fuera!<br>
            Plazas limitadas, accede al formulario para elegir tu fecha y asegurar tu invitación:<br><br>
            <div style="align-content: center;">
            <a href="https://forms.gle/fiivMETn8p3UyAGQ8" target="_blank" class="btn btn-primary btn-xl wow tada">¡Reserva tu lugar ahora!</a><br><br>
            <a href="https://www.torre-escribana.com" target="_blank" class="btn btn-primary btn-xl wow tada">Descubre Torre Escribana</a>
          </div>
          
            
        </div>
       
       
      </div>
    </div>
  </section>
