
  <section id="escribana" class="que-es-section" style="background-color: #d6f5d8">
    <div class="container">
      <div class="row">
         <!-- Columna de imagen -->
        <div class="col image-content">
          <img src="img\escribana.png" alt="Imagen de Xutopot" class="responsive-image">
        </div>
        <!-- Columna de texto -->
        <div class="col text-content">
          <h2>¡Descubre Xutopot en Torre Escribana!</h2><hr>
          <p>
            Una experiencia exclusiva para grupos scouts y clubes de tiempo libre

            📅 Elige tu fecha y acompáñanos en una visita especial a Torre Escribana, donde presentaremos Xutopot, la solución sostenible e innovadora para tus actividades al aire libre.
            
            🎁 Beneficio exclusivo: Por asistir, obtendrás un 10% de descuento adicional en tu primer pedido, válido para este verano.
            
            🌟 Qué te espera:
            
            Presentación del producto.
            Visita corta a las instalaciones.
            Resolución de dudas y consejos para tus campamentos.
            🚀 ¡No te quedes fuera!
            Plazas limitadas, accede al formulario para elegir tu fecha y asegurar tu invitación:
            
            [¡Reserva tu lugar ahora!]</p>
        </div>
       
       
      </div>
    </div>
  </section>
