<section id="funciona">
    <div class="container text-center">
    <h2>¿Cómo funciona?</h2> <hr>
</div>
  <div class="funciona-page">
        <div class="funciona-container">
            <section class="section">
                <div class="image-container">
                    <img src="img/boceto.png" alt="Instalación del baño seco">
                </div>
                <div class="text-container">
                    <h2>Instalación de Xutopot</h2>
                    <p><strong>Ubicación:</strong> Selecciona un área plana y estable. Si vas a usar varios puedes instalarlos en diferentes espacios para facilitar el acceso a todos.</p>
                    <p><strong>Montaje:</strong> Ensambla la estructura principal siguiendo las instrucciones proporcionadas. Generalmente, dos personas pueden completar el montaje en menos de 15 minutos con sólo una llave allen. Ancla la estructura al suelo con las piquetas proporcionadas.</p>
                    <p><strong>Material Absorbente:</strong> Rellena el cajón de material absorbente como serrín o tierra seca para cubrir los desechos sólidos después de cada uso.</p>
                </div>
            </section>

            <section class="section">
                <div class="image-container">
                    <img src="img/boceto.png" alt="Uso del baño seco">
                </div>
                <div class="text-container">
                    <h2>Uso del Baño Seco</h2>
                    <p><strong>Posición:</strong> Utiliza el baño en posición sentada para garantizar el correcto funcionamiento del sistema de separación.</p>
                    <p><strong>Después de Usar:</strong></p>
                    <ul>
                        <li><strong>Caca:</strong> Cúbrela con una capa de material absorbente para controlar olores y facilitar el proceso de secado y compostaje.</li>
                        <li><strong>Orina:</strong> La orina se dirige automáticamente al contenedor de líquidos o la tubería de riego (dependiendo de la opción elegida); no requiere acción adicional.</li>
                    </ul>
                </div>
            </section>

            <section class="section">
                <div class="image-container">
                    <img src="img/boceto.png" alt="Mantenimiento del baño seco">
                </div>
                <div class="text-container">
                    <h2>Mantenimiento y Vaciado</h2>
                    <p><strong>Frecuencia:</strong> La frecuencia de vaciado depende del número de usuarios y la intensidad de uso. Es recomendable revisar los niveles de los contenedores diariamente en eventos con alta afluencia.</p>
                    <p><strong>Vaciado de Contenedores:</strong></p>
                    <ul>
                        <li><strong>Líquidos:</strong> Reciclar orina evita el desperdicio de agua potable y puede usarse como abono rico en nutrientes para plantas.</li>
                        <li><strong>Sólidos:</strong> Deposita los residuos sólidos mezclados con papel y serrín en un contenedor municipal o en una compostera designada.</li>
                    </ul>
                    <p><strong>Limpieza:</strong> Usa guantes y agua con jabón biodegradable para limpiar el separador y el cajón después de cada vaciado. Evita productos químicos agresivos.</p>
                </div>
            </section>

            <section class="section">
                <div class="image-container">
                    <img src="img/boceto.png" alt="Uso del baño seco">
                </div>
                <div class="text-container">
                    <h2>Gadgets incluídos que nunca vienen mal.</h2>
                    <ul>
                        <li><i class="fa fa-check"></i> <strong>Luz solar con detector de movimiento:</strong> para encontrar el WC de noche.</li>
                        <li><i class="fa fa-check"></i> <strong>Techo transparente:</strong> que ilumina el interior de día.</li>
                        <li><i class="fa fa-check"></i> <strong>Ventilación natural:</strong> que reduce aún más los posibles olores.</li>
                        <li><i class="fa fa-check"></i> <strong>Anillas para sujeción:</strong> con piquetas al suelo.</li>
                        <li><i class="fa fa-check"></i> <strong>Cerrojo con aviso de “ocupado”:</strong> que se puede abrir desde el exterior ante una emergencia.</li>
                        <li><i class="fa fa-check"></i> <strong>Compartimento para almacenar serrín:</strong> o cualquier otro secante.</li>
                        <li><i class="fa fa-check"></i> <strong>Barnizado de calidad:</strong> para hacer limpiable todas las superficies.</li>
                      </ul>
                </div>
            </section>
        </div>
    </div>

</section>