<section id="oferta" class="parallax-oferta">
    <div class="overlay"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <h2 class="section-heading">Ofertas de lanzamiento</h2>
                <hr class="light">

                <p class="text-faded">
                    <strong>5% Descuento</strong> para pedidos realizados antes del <b>31 dic 2025</b>.
                </p>

                <p class="text-faded">
                    <strong>10% Descuento permanente</strong> para <b>Grupos Scouts y Guías</b>.
                </p>

                <p class="text-faded">
                    <em>(Ambas ofertas son acumulables)</em>
                </p>

            </div>
        </div>
    </div>
</section>