<section class="bg-primary" id="oferta">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ofertas de lanzamiento
                <hr class="light">
                <p class="text-faded">
                    
                    10% Para participantes del evento de presentación en Torre Escribana.
                    <p class="text-faded"> 10% Grupos Scouts y Guías.
                        <p class="text-faded"> 5% Para primeros pedidos.
                (Ofertas acumulables entre sí)
                </p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
