<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- Historia y visión -->
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-container">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-container-caption">
                        <div class="portfolio-container-caption-content">
                            <div class="portfolio-category text-faded">
                                Historia y visión
                            </div>
                            <div class="portfolio-description">
                                De la observación a la acción<br><br>
                                Todo comenzó tras observar algo que no encajaba: Educadores de grupos scouts alquilando baños químicos para sus campamentos. Como promotor de cursos sobre campamentos sostenibles, esa realidad me dejó claro que, en algún punto, habíamos fallado. Fue entonces, con el objetivo de facilitar la implementación de WC secos, cuando nació Xutopot, como una respuesta práctica y coherente a nuestras propias contradicciones, y como una herramienta para avanzar hacia un mundo más respetuoso con el medioambiente.<br><br>
                                Guiados por los valores scouts y las 3 éticas de la permacultura, creemos que cada elección cuenta. Nuestro propósito es ofrecer a quienes trabajan por el cuidado del planeta una solución real y sostenible, ayudándoles a cumplir su misión sin comprometer sus ideales.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Nuestro compromiso -->
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-container">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-container-caption">
                        <div class="portfolio-container-caption-content">
                            <div class="portfolio-category text-faded">
                                Nuestro compromiso
                            </div>
                            <div class="portfolio-description">
                                Autenticidad y sostenibilidad<br><br>
                                Nos posicionamos en contra del greenwashing, esa práctica engañosa que disfraza productos de sostenibles cuando no lo son. En Xutopot, hacemos lo que decimos: baños secos verdaderamente ecológicos, fabricados localmente con materiales renovables y certificados y te acompañamos en la implementación de los mismos con tus educandos y usuarios. Nuestro compromiso no es solo con el medioambiente, sino con la transparencia y la coherencia en cada paso que damos.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Qué ofrecemos -->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-container">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-container-caption">
                        <div class="portfolio-container-caption-content">
                            <div class="portfolio-category text-faded">
                                Qué ofrecemos
                            </div>
                            <div class="portfolio-description">
                                Soluciones reales para un futuro mejor<br><br>
                                Producto: un baño seco portátil, desmontable, diseñado para ser práctico, eficiente y respetuoso con el entorno.<br><br>
                                Servicios: asesoramiento especializado, transporte opcional, y dinámicas educativas que enseñan, de manera sencilla y efectiva, el uso del WC seco y la importancia de cerrar los círculos de recursos.<br><br>
                                Queremos ser aliados de quienes ya están trabajando por un mundo mejor. En cada campamento, en cada evento al aire libre, estamos aquí para demostrar que el cambio es posible, si lo hacemos juntas.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
