<section id="que-es" class="que-es-section">
    <div class="container">
      <div class="row">
        <!-- Columna de texto -->
        <div class="col text-content">
          <h2>¿Qué es Xutopot?</h2>
          <p>
            Xutopot es un baño seco portátil y ecológico diseñado para actividades al aire libre como campamentos, festivales y eventos. 
            Este innovador sistema no utiliza químicos, es fácil de montar y transportar, y contribuye a la sostenibilidad y el cuidado del medioambiente.
          </p>
        </div>
        <!-- Columna de imagen -->
        <div class="col image-content">
          <img src="img\solidrender.png" alt="Imagen de Xutopot" class="responsive-image">
        </div>
      </div>
    </div>
  </section>
