<section id="que-es" class="que-es-section">
    <div class="container">
      <div class="row">
        <!-- Columna de texto -->
        <div class="col text-content">
          <h2>¿Qué es Xutopot?</h2><hr>
          <p>
           <strong>Xutopot </strong> es un baño seco <strong>portátil y ecológico</strong> diseñado para actividades al aire libre como campamentos, festivales y eventos. 
            Este innovador sistema <strong>no utiliza químicos</strong>, es fácil de montar y transportar, y contribuye a la sostenibilidad y el <strong>cuidado del medioambiente.</strong>
          </p>
        </div>
        <!-- Columna de imagen -->
        <div class="col image-content">
          <img src="img\solidrender.png" alt="Imagen de Xutopot" class="responsive-image">
        </div>
      </div>
    </div>
  </section>
  <section id="que-es" class="que-es-section">
    <div class="container">
      <div class="row">
         <!-- Columna de imagen -->
        <div class="col image-content">
          <img src="img\solidrender.png" alt="Imagen de Xutopot" class="responsive-image">
        </div>
        <!-- Columna de texto -->
        <div class="col text-content">
          <h2>¿En qué consiste exactamente?</h2><hr>
          <p>
           <strong>Xutopot </strong> separa automáticamente los sólidos de los líquidos mediante un separador. A los sólidos se le añade un secante para evitar olores y los líquidos se almacenan en un recipiente. Los dos productos por separado pueden utilizarse como fertilizante con un tratamiento adecuado.
          </p>
        </div>
       
       
      </div>
    </div>
  </section>
