<section class="bg-primary" id="quees">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¿Qué es?</h2>
                <hr class="light">
                <p class="text-faded">
                    
Xutopot es un baño seco portátil, sostenible y reutilizable, pensado para actividades al aire libre como campamentos y festivales. No requiere agua ni productos químicos, lo que lo hace respetuoso con el medio ambiente. Su diseño compacto y funcional ofrece una solución higiénica, práctica y ecológica para eventos en la naturaleza.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
