<section id="ventajas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ventajas de Xutopot</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leaf wow bounceIn text-primary"></i>
                    <h3>100% Ecológico</h3>
                    <p class="text-muted2">El WC que más cuida el medio ambiente con diferencia</p>                  
                    <p class="text-muted" style="font-size: 14px;">Evita químicos que contaminan el agua y satura menos las depuradoras. Hecho con materiales FSC, fomenta la reutilización de desechos, cerrando el ciclo de nutrientes y reduciendo CO2.
                    </p>
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Limpio y fácil de Usar</h3>
                    <p class="text-muted2">Sin complicaciones, solo resultados.</p>
                    <p class="text-muted" style="font-size: 14px;">Tras años de pruebas, Xutopot se acerca al WC seco ideal. Fácil de usar, sin malos olores ni mantenimiento adicional, es perfecto para eventos prolongados. Su diseño fomenta la educación ambiental y cuenta con aprobación sanitaria.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comment wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Os acompañamos</h3>
                    <p class="text-muted2">Siempre a tu lado, como si fuéramos parte del equipo.</p>
                    <p class="text-muted" style="font-size: 14px;">Alquilamos baños secos y te asesoramos con experiencia en campamentos y eventos al aire libre. Resolvemos dudas, ofrecemos consejos prácticos y garantizamos una experiencia óptima, combinando funcionalidad y cuidado ambiental para educandos y organizadores.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Educativo</h3>
                    <p class="text-muted2">Aprender haciendo: un baño que enseña sostenibilidad.</p>
                    <p class="text-muted" style="font-size: 14px;">
                        Nuestro baño seco enseña a infancia y juventud el impacto de sus decisiones. Con materiales educativos y dinámicas adaptadas, muestra cómo convertir residuos en recursos, fomentando la conciencia ambiental y la sostenibilidad en nuevas generaciones.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-stack-overflow wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Portátil y desmontable</h3>
                    <p class="text-muted2">Cabe en tu mochila (o casi).</p>
                    <p class="text-muted" style="font-size: 14px;">Más compacto y ligero, nuestro diseño desmontable permite apilar, transportar y montar fácilmente varias unidades. Sin vehículos especializados, podéis llevarlo con vuestro material. También permite distribuirlos por el campamento para mayor comodidad de los usuarios.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Fácil Montaje</h3>
                    <p class="text-muted2">Montar un baño nunca fue tan fácil.</p>
                    <p class="text-muted" style="font-size: 14px;">Con un manual de instrucciones claro, Xutopot puede ser montado entre dos personas en menos de 15 minutos. No necesitas herramientas complejas, solo seguir los sencillos pasos y estará listo para usar.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flag-checkered wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Fabricado Localmente</h3>
                    <p class="text-muted2">De nuestra tierra, para cuidar la tuya.</p>
                    <p class="text-muted" style="font-size: 14px;">Fabricado en Zaragoza, nuestro baño seco apoya la economía local y genera empleo regional. Al elegir Xutopot, contribuyes al desarrollo sostenible, reduces emisiones por transporte y respaldas a los productores y artesanos de nuestra comunidad.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
