<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include quees.html %}

  {% include ventajas.html %}
  {% include funciona.html %}
  {% include faq.html %}
  {% include portfolio.html %}
  <!-- <div class="doblefoto">
    <div class="section">
      <div class="image-container">
          <img src="../img/portfolio/1.jpg" alt="Imagen 1">
      </div>
      <div class="image-container">
          <img src="../img/portfolio/2.jpg" alt="Imagen 2">
      </div>
  </div>
</div>-->
  {% include alquila.html %}
  {% include oferta.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
