<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body id="funciona">
  {% include nav2.html %}
  {% include header_funciona.html %}
  {% include funciona.html %} 
  
  <body>
      <div class="section">
          <div class="image-container">
              <img src="../img/portfolio/1.jpg" alt="Imagen 1">
          </div>
          <div class="image-container">
              <img src="../img/portfolio/2.jpg" alt="Imagen 2">
          </div>
      </div>
  </body>
  </html>


  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
